html {
    font-size: 100%;
    position: static;
    min-height: auto;
    background-color: transparent;
}

@media (min-width: 768px) {
    html {
        font-size: 100%;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: none;
    outline: none;
}

body {
    margin: 0;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    line-height: normal;
}
